

.container-fluid{
    display: flex;
    justify-content: center;
    background-color: white;  
}


.carousel-image{
 width: 100%;
}
.carousel-item{
    width: 50% !important;
}
.carousel-inner{
    display: flex;
    justify-content: center;
}

.space{
    width: 30vw;
}

.navbar .btn{
    border: none !important;
}
.space .btn{
    border: none !important;
}
.space img{
    width: 20%;
}